/* Yeseva One: CSS class  */
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

/* Poppins: CSS classes */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Roboto: CSS class for a variable style */
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Manrope: CSS class for a variable style */
.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Lobster: CSS class */
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

/* color change at one click */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

body{
    font-family: Poppins;
}

header{

}

main{

    max-width: 1128px;
    max-resolution: 0 auto;

}

footer{

}